.texto {
  height: 24px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 27.2px;
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.texto-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
}
.boton1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-seagreen-100);
}
.texto1 {
  position: absolute;
  margin: 0 !important;
  right: 22px;
  bottom: 19px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  min-width: 113px;
  z-index: 4;
}
.inicio-sesin1 {
  align-self: stretch;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-4xl);
  box-sizing: border-box;
  position: relative;
  gap: 1px;
  z-index: 3;
}
.unete-a-ecohelp {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: left;
  z-index: 2;
}
.unete-a-ecohelp-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 29px;
}
.nombre-de-usuario {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
  color: var(--color-gray);
  text-align: left;
}
.input-child5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.input10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 2;
}
.contrasea {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.input-child6 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.input11 {
  align-self: stretch;
  gap: var(--gap-9xs);
  z-index: 2;
}
.frame-container,
.input-parent,
.input11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-parent {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.frame-container {
  flex: 1;
  gap: 30px;
}
.ecohelp-registro-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-30xl) var(--padding-mini) var(--padding-34xl);
}
.frame-child {
  height: 593px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.boton2,
.frame-item {
  position: absolute;
  border-radius: var(--br-21xl);
}
.frame-item {
  height: 410px;
  width: 319px;
  margin: 0 !important;
  right: 137px;
  bottom: -293px;
  background-color: var(--color-white);
  z-index: 1;
}
.boton2 {
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.inicio-sesin2 {
  height: 70px;
  width: 319px;
  position: absolute;
  margin: 0 !important;
  right: 137px;
  bottom: 28px;
  z-index: 2;
}
.frame-parent1 {
  position: absolute;
  top: -130px;
  left: -121px;
  width: 599px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-ecohelp-icon1 {
  position: absolute;
  top: 141px;
  left: 38px;
  border-radius: var(--br-21xl);
  width: 287px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.boton3,
.frame-section {
  width: 100%;
  height: 463px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.boton3 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-seagreen-100);
}
.texto2 {
  width: 123px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.inicio-sesin3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) var(--padding-xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.ecohelp-registro {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--color-snow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-346xl) var(--padding-lgi) 89px;
  box-sizing: border-box;
  gap: 28px;
  line-height: normal;
  letter-spacing: normal;
}
