body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-abeezee: ABeeZee;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-snow: #faf1f1;
  --color-white: #fff;
  --color-seagreen-100: #3d7d48;
  --color-gray: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-red: #fe0505;
  --color-lightgray: rgba(204, 204, 204, 0.3);

  /* Gaps */
  --gap-10xl: 29px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-3xs-5: 9.5px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-19xl: 38px;
  --padding-18xl: 37px;
  --padding-4xl: 23px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-346xl: 365px;
  --padding-lgi: 19px;
  --padding-30xl: 49px;
  --padding-mini: 15px;
  --padding-34xl: 53px;
  --padding-44xl: 63px;
  --padding-3xl: 22px;
  --padding-31xl: 50px;
  --padding-base: 16px;
  --padding-35xl: 54px;
  --padding-2xl: 21px;
  --padding-7xs: 6px;
  --padding-12xl: 31px;
  --padding-37xl: 56px;
  --padding-36xl: 55px;
  --padding-24xl: 43px;
  --padding-8xl: 27px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-21xl: 40px;
}
