.boton {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray);
}
.texto {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  min-width: 113px;
  z-index: 1;
}
.inicio-sesin {
  width: 319px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-4xl) 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.boton1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-seagreen);
}
.interview-experience {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-nunito);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.inicio-sesin-parent,
.inicio-sesin1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inicio-sesin1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) 18px;
  background-color: transparent;
  position: relative;
  white-space: nowrap;
  z-index: 3;
  margin-left: -319px;
}
.inicio-sesin-parent {
  align-self: stretch;
}
.bienvenido-a-ecohelp {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: left;
  z-index: 2;
}
.bienvenido-a-ecohelp-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 52px 0 53px;
}
.frame-child {
  height: 593px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.on-campus {
  height: 410px;
  width: 319px;
  position: absolute;
  margin: 0 !important;
  right: 139px;
  bottom: -293px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  z-index: 1;
}
.frame-group {
  position: absolute;
  top: -130px;
  left: -121px;
  width: 601px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-ecohelp-icon {
  position: absolute;
  top: 141px;
  left: 38px;
  border-radius: var(--br-21xl);
  width: 287px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.frame-parent {
  width: 100%;
  height: 463px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.nombre-de-usuario {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
  color: var(--color-gray);
  text-align: left;
}
.input-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 2;
}
.contrasea {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.input-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.input1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 2;
}
.frame-wrapper,
.input-parent,
.input1 {
  display: flex;
  align-items: flex-start;
}
.input-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 49px 0 50px;
}
.boton2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-seagreen);
}
.contact-us {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  min-width: 123px;
  z-index: 1;
}
.inicio-sesin2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) 20px;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.has-olvidado-tu {
  position: relative;
  font-size: 14px;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: left;
  z-index: 2;
}
.has-olvidado-tu-contrasea-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 68px 0 65px;
}
.inicio-sesin-group {
  align-self: stretch;
  align-items: flex-start;
  gap: 6px;
}
.ecohelp-inicio-sesin,
.frame-container,
.inicio-sesin-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  align-items: flex-end;
  gap: 43px;
}
.ecohelp-inicio-sesin {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: #faf1f1;
  overflow: hidden;
  align-items: flex-start;
  padding: 365px 19px 63px 22px;
  box-sizing: border-box;
  gap: 29px;
  line-height: normal;
  letter-spacing: normal;
}
